//
// Created by g on 2/6/18.
//

#ifndef BASICFILETRAVERSE_KVDN_H
#define BASICFILETRAVERSE_KVDN_H

#include <VertxBus.h>
#include <json/json.h>

using namespace std;

class KvdnClient {

public:
    KvdnClient(VertxBus *eb);
    ~KvdnClient();

    {% for name, args in (INTERFACE | from_json).iteritems() %}
    void {{ name }}({% for arg in args %}const string &{{ arg }},{% endfor %}  VertxBus::ReplyHandler handler);
    {% endfor %}

private:
    VertxBus *eb;
    void kvdnOP(const string &straddr, Json::Value opdata, VertxBus::ReplyHandler handler);

};


#endif //BASICFILETRAVERSE_KVDN_H
